@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

:root {
  --dy_in: -60px;
  --dy_out: 60px;
  --phrase_width: 400px;

  --number-of-phrases: 3;
  --duration-in-out: 4s;
  --ani-dur: calc(var(--duration-in-out) * var(--number-of-phrases));
  --ani-bezier: ease;
}

.quote_bio{
  position: relative;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .phrase{
  
} */

.phrase::after {
  content: "\201D";
  font-size: 25pt;
  opacity: .5;
  font-family:  'IM Fell English SC', serif;
}
.phrase::before {
  content: "\201C";
  font-size: 25pt;
  opacity: .5;
  font-family:  'IM Fell English SC', serif;
}

.phrase {
  font-size: 14pt;
  top: var(--dy_in);
  width: var(--phrase_width);
  opacity: 0;
  line-height: 2em;
}

.phrase.phrase0 {
  animation: control_text var(--ani-dur) var(--ani-bezier) infinite;
  /* background-color: blue; */

  transition: 1s all ease;
  
  position: absolute;
}

.phrase.phrase1 {
  animation: control_text var(--ani-dur) var(--ani-bezier) infinite;
  animation-delay: calc(var(--duration-in-out) * 1);
  
  /* background-color: green; */
  position: absolute;
}
.phrase.phrase2 {
  animation: control_text var(--ani-dur) var(--ani-bezier) infinite;
  animation-delay: calc(var(--duration-in-out) * 2);
  
  /* background-color: red; */
  position: absolute;
}

@keyframes control_text {
  0% {
    top: var(--dy_in);
    opacity: 0;
    transform: rotateX(45deg);
  }
  1%, 30%{
    top: 0;
    opacity: 1;
    transform: rotateX(0deg);
  }
  31%, 100%{
    transform: rotateX(45deg);
    top: var(--dy_out);
    opacity: 0;
  }
}