* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

#container {
    width: 500px;
    height: 500px;
    background-color: #1b1b1b;
    position: relative;
}

.star_config {
    background-image: url("../assets/image/ball.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: green; */
    position: absolute;
    transform: scale(0);
    animation: star_zoom ease infinite alternate-reverse;
}

@keyframes star_zoom {
    to {
        transform: scale(1);
    }
}