@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


.presenter_text {
    font-family: 'Quicksand Thin', sans-serif;
    font-weight: 400;
    margin-left: 5%;
    margin-top: -2%;
    /* margin-left: 50px; */
    /* margin-left: 50px; */
}

.text_top_intro {
    text-align: center;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 13px;
    margin-top: 30px;
}

.side_text {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 13pt;
}

.quote_bio {
    /* font-size: 15pt; */
    font-family: 'Patrick Hand', cursive;
    font-size: 8pt;
    margin-top: 13px;
    margin-right: 35%;
    margin-top: -5%;
    tab-size: 8;
    transition: .3s all;
}