:root {
    --pause-width-bar: 10px;
    --pause-height-bar: 30px;
    --pause-gap-bar: 15px;
    --play-width: 30px;
    --play-height: 30px;
    --icon-color: #eeeeee;
    --external-container-size: 50px;
}

.audio_control_class {
    height: var(--pause-height-bar);
    width: var(--pause-width-bar);
    background-color: var(--icon-color);
    transition: .3s ease-in-out;
}

.audio_control_class::after {
    content: "";
    display: block;
    height: var(--pause-height-bar);
    width: var(--pause-width-bar);
    background-color: var(--icon-color);
    margin-left: var(--pause-gap-bar);
}

.audio_control_class.update_play {
    transform: rotate(180deg);
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    height: var(--play-height);
    width: var(--play-width);
}

.button_play_container {
    display: grid;
    align-items: center;
    justify-content: center;
    height: var(--external-container-size); 
    width: var(--external-container-size); 
    /* background-color: aqua; */
}